*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container1{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.60)),url(./public/proj.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
.container1 nav{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6));
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 10%;
    padding-left: 10%;
    /* position: fixed; */
    z-index: 999;
    /* position: sticky; */


}
.logo{
    color:white;
    font-size: 28px;

}
span{
    color: rgb(182, 7, 7);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-top: -15px;
    letter-spacing: 1px;


}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(240, 50, 50);
    transition: .3s;
}
button{
    border:none;
    background: rgb(240, 50, 50);
    padding: 12px 30px;
    /* border-radius: 30px; */
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    border-radius: 40px;
    position: relative;
    top: 300px;
}
nav button{
    border:none;
    background: rgb(240, 50, 50);
    padding: 12px 30px;
    /* border-radius: 30px; */
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    border-radius: 30px;
    /* position: relative; */
    /* top: 800px; */

}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.home_page{
    /* margin-top: 30px; */
}
.home_page p{
    color: white;
    font-weight: bold;
    font-size: 85px;
    /* margin-top: 200px; */
    margin-left: 100px;
    text-align: center;
    letter-spacing: 10px;
    /* margin-top: 300px; */
    position: relative;
    top: 200px;
    
}
.home_page button{
    color: white;
    font-size: 15px;
    border-radius: 30px;
    /* align-items: center; */
    position: relative;
    /* right: 50%; */
    left: 650px;
    margin-top: 40px;
    

}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;

}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: red;

}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container2{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;


}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    margin-left: 40px;

}
.about-image img{
    max-width: 400px;
    height: 600px;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);

}
.about-content{
    flex: 1;

}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;

}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(230, 110, 110);
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;



}
.about-content .read-more:hover{
    background-color: red;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./public/office-supplies.jpg);
    background-size: cover;
    overflow: hidden;
    margin-bottom: 4%;



}
.contact .content{
    max-width: 800px;
    text-align: center;
    margin-top: -82px;

}
.contact .content h2{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin-top: -23px;
    margin-bottom: 6%;


}
.contact .content p
{
    font-size: 36px;
    font-weight: 300;
    color: #fff;

}
.containerContact
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 6%; */
}
.containerContact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;


}
.containerContact .contactInfo .text{
    color: #fff;
    margin-left: 20px;
}
.containerContact .contactInfo h3{
    color: rgba(75, 150, 212, 0.736);
}

.containerContact .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;


}
.containerContact .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;


}
.containerContact .contactInfo .box .icon .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;

}
.containerContact .contactInfo .box .icon .text h3{
    font-weight: 500;
    color: rgba(82, 82, 207, 0.466);
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;



}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.gallery{
    margin: 0;
    margin-top: 12%;
    font-family: sans-serif;
    background: #f2f2f2;

}
#collections h2{
    font-size: 50px;
}
.gallery h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;


}
.gallery .collections h2{
    text-align: center;
    margin-bottom: 3%;
    font-weight: bold;
    text-decoration: underline;
    /* margin-top: 10px; */
    padding-top: 10px;
    font-size: 50px;

}
.gallery a{
    text-decoration: none;

}
.gallery{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 50px 0; 
    margin: auto;
    background: #ffff;
    /* margin-bottom: 25px; */
   

}

.gallery .content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    /* padding: 10px; */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
    
}
/* .gallery .collection h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;

} */
.gallery .content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);

}
.gallery .content img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
.gallery .content p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;

}
.gallery .content h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;

}
.gallery .content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.gallery .content li{
    padding: 5px;

}
.gallery .content .fa{
    font-size: 26px;
    transition: .4s;


}
.gallery .content .checked{
    color: #ff9f43;

}
.gallery .content .fa:hover{
    transform: scale(1.3);
    transition: .6s;

}
.gallery .content button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    /* padding: 15px; */
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;




}
.gallery .content .buy-1{
    background: rgb(141, 128, 97);

}
.gallery .content .buy-2{
    background: #3b3e6e;
}
.gallery .content .buy-3{
    background: #0b0b0b;
}
.gallery .collections h2{
    text-align: center;
    margin-left: -500px;
}
.gallery .content .buy-4{
    background: #ff9f43;
}
@media(max-width: 750px){
    .gallery .content{
        width: 100%;

    }
}
@media(max-width: 1000px){
    .gallery .content{
        width: 40%;

    }
}
footer{
    background-color: #111;

}
.footerConainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;


}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    font-family: sans-serif;

}
.socialIcons a i{
    font-size: 30px;
    height: 20px;
    width: 20px;
    color: black;
    opacity: 0.9;
    /* margin-top: 10px; */
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;


}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;

}
.footerNav{
    margin: 30px 0;

}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;

}
.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.5s;
    

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;

}
.footerBottom p{
    color: white;
    font-size: 10px;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    font-size: 10px;

}
@media(max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}